<mat-toolbar>
    <span>ColorsGPT 🎨</span>
</mat-toolbar>


<div id="colorsgpt-body">
    <div id="colorsgpt-heading">
        <h1>Hey there! Welcome to ColorsGPT 🎨</h1>
        <p>Type in your vibes, and let our nifty generative AI transform them into a custom set of theme colors in cards. Unleash your creativity and vibe on! ✨</p>
    </div>

    <div id="colorsgpt-form">
        <mat-form-field class="vibe-input">
            <mat-label>Generate colors</mat-label>
            <textarea matInput placeholder="What's the vibe?..." [(ngModel)]="input"></textarea>
        </mat-form-field>
        <button mat-button color="primary" (click)="getColors()" id="colors-button">get colors</button>
    </div>

    <div id="colorsgpt-colors">
        <mat-spinner *ngIf="isLoading" class="center"></mat-spinner>

        <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
        <div
            fxFlex="32%"
            fxFlex.xs="100%"
            fxFlex.sm="33%"
            *ngFor="let color of colors"
            style="display: inline-block;"
        >
            <mat-card class="mat-elevation-z4" (click)="copyToClipboard(color.getHex())">
                <div class="color-square" [ngStyle]="{'background-color': color.getHex()}">
                </div>
                <mat-card-content>
                    <p>{{ color.getHex() }}</p>
                </mat-card-content>
            </mat-card>
        </div>

    </div>


</div>